$primary-text-color: #fff;
$font-stack: "Poppins", sans-serif;


* {
    font-family: $font-stack;
  }
  
  p {
    color: $primary-text-color;
    font-size: 20px;
    line-height: 23,5px;
  }
  
  body {
    position: absolute;
    max-height: 840px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-image: url(../img/background.jpg);
    border-radius: 0px;
  }
  
  .question__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    max-width: 630px;
  }
  
  .question__container--background {
    position: absolute;
    height: 400.67px;
    left: 32.8%;
    right: 32.57%;
    top: 100px;
    z-index: 0;
  }
  
  .question__section {
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    text-align: center;
    height: 300px;
  }
  
  .button__section {
    display: flex;
    justify-content: space-around;
  }
  
  .navigation {
    z-index: 1;
    width: 100%;
  }
  
  .navigation__button--result {
    display: block;
  }
  
  .options {
    color: $primary-text-color;
  }
  
  .navigation__sliders {
    display: flex;
    justify-content: space-between;
  }
  
  .navigation__button--previous,
  .navigation__button--next,
  .navigation__button--result {
    height: 56px;
    width: 154px;
    left: 0%;
    right: 0%;
    top: 0.5px;
    background: #fd8558;
    border-radius: 0px;
    color: $primary-text-color;
    font-size: 15px;
    &:hover {
        color: black;
    }
  }
  
  .navigation__button--result {
    display: block;
    margin: 50px auto;
    width: auto;
    padding: 13px 38px;
  }
  
  .result {
    position: absolute;
    top: 150px;
  }
  
  .preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921");
    background-repeat: no-repeat;
    background-color: $primary-text-color;
    background-position: center;
    visibility: hidden;
  }
  
  .display {
    visibility: visible;
  }
  