$primary-text-color: #fff;
$font-stack: "Poppins", sans-serif;

body {
  font-family: $font-stack;
  color: $primary-text-color;
  position: absolute;
  max-height: 840px;
  left: 0%;
  right: 0%;
  top: 0px;
  background-image: url(/img/background.jpg);
  border-radius: 0px;
  overflow: hidden;
}

.question {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    max-width: 630px;
  }

  &__section {
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    text-align: center;
    height: 300px;
    &--options {
      display: flex;
      justify-content: space-around;
    }
    &--item {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 10px;
      max-height: 80px;
      align-items: center;
      .options,
      .btn {
        cursor: pointer;
      }
    }

    &--result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 300px;
    }

    p {
      color: $primary-text-color;
      font-size: 20px;
      line-height: 23, 5px;
      margin-bottom: 40px;
    }
  }

  &__navigation {
    z-index: 1;
    width: 100%;

    &--sliders {
      display: flex;
      justify-content: space-between;
    }

    &--button {
      height: 56px;
      width: 154px;
      left: 0%;
      right: 0%;
      top: 0.5px;
      background: #be4628c4;
      border-radius: 0px;
      color: $primary-text-color;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }

    &--buttonResult {
      display: block;
      margin: 50px auto;
      width: auto;
      padding: 10px 30px;
    }
  }

  &__img {
    position: absolute;
    height: 400.67px;
    left: auto;
    right: auto;
    top: 100px;
    z-index: 0;
  }
}

.background__img {
  position: absolute;
  &--topLeft {
    top: 0;
  }

  &--topRight {
    top: 13px;
    right: 130px;
  }

  &--bottomLeft {
    left: 97px;
    bottom: 130px;
  }

  &--bottomMiddle {
    right: 112px;
    bottom: 402px;
    width: 34px;
    height: 34px;
  }

  &--bottomRight {
    bottom: 0;
    right: 0;
  }
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921");
  background-repeat: no-repeat;
  background-color: $primary-text-color;
  background-position: center;
  visibility: hidden;
}

@media screen and(max-width: 1200px) {
  .background__img {
    &--bottomRight {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
    }
  }
}

@media screen and(max-width: 900px) {
  .background__img {
    position: absolute;
    &--topLeft {
      top: 0;
      width: 25%;
    }

    &--topRight {
      top: 13px;
      right: 30px;
      width: 15%;
    }

    &--bottomLeft {
      display: none;
    }

    &--bottomMiddle {
      display: none;
    }

    &--bottomRight {
      bottom: 0;
      right: 0;
      width: 25%;
    }
  }
}

@media screen and(max-width: 600px) {
  .question__section {
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    text-align: center;
    margin: auto 30px;
  }
  .question__navigation {
    z-index: 1;
    width: 100%;

    &--sliders {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .question__navigation--button {
        height: 56px;
        width: 80%;
        left: 0%;
        right: 0%;
        top: 0.5px;
        background: #be4628c4;
        border-radius: 0px;
        color: $primary-text-color;
        font-size: 15px;
        margin-bottom: 10px;
        &:hover {
          background-color: black;
        }
      }
    }

    .question__navigation--buttonResult {
      margin-top: 0;
      display: block;
      width: 80%;
    }
  }
}

@media screen and(max-width: 400px) {
  .question__section {
    max-width: 380px;
    display: block;
    margin-bottom: 100px;
    z-index: 1;
    text-align: center;
    margin: auto 30px;

    &--options {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  .background__img {
    display: none;
  }

  .question__navigation {
    z-index: 1;
    width: 100%;

    &--sliders {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
