.question {
    position: absolute;
    top: 20px;
    left: 10px;
}


.navigation {
    position: relative;
    top: 80px;
    

}

.navigation_sliders{
    width: 377px;
    display: flex;
    justify-content: space-between;
}

.btn_result {
    display: block;
    margin-top: 10px;
}
