.questions_box {
  display: block;
  margin-bottom: 10px;
}


.navigation_sliders {
  width: 377px;
  display: flex;
  justify-content: space-between;
}

.btn_result {
  display: block;
  margin-top: 10px;
}

.result {
  position: absolute;
  top: 150px;
}