$primary-text-color: #fff;
$font-stack: "Poppins", sans-serif;

body {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

span {
  color: #656293;
  font-weight: 700;
}

.content {
  display: block;
  margin: 0px 165px;
  max-width: 1590px;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 38px;

  &__logo {
  }

  &__menu {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    margin: 0px 95px 0 153px;
  }

  &__item {
  }

  &__form {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 751px;
    width: auto;
  }
}

.header {
  &__button {
    width: 93px;
    height: 31px;
  }
}

.button {
  background: #656293;
  border-radius: 5px;
}

.advertisement {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;

  &__discription {
    font-size: 66px;
    line-height: 77px;
    font-weight: 400;
  }
  &__link {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    margin-top: 48px;
  }

  &__item {
    color: #151515;
    text-decoration: none;
    margin-right: 9px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    color: #151515;
  }
}

.form {
  width: 1110px;
  height: 266px;
  border-radius: 12px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
}
