$primary-text-color: #fff;
$font-stack: "Poppins", sans-serif;

body {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 38px 165px 0 165px;
  

  &__logo {
  }

  &__menu {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    margin: 0px 95px 0 153px;
  }

  &__item {
  }

  &__form {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }

  &__background{
  position: absolute;
  top: 0;
  left: 0;
  height: 751px;
  width: auto;
  }
}

.form {
  &__button {
    width: 93px;
    height: 31px;
  }
}

.button {
  background: #656293;
  border-radius: 5px;
}


.advertisement {
  margin: 52px 165px 0px 165px;
  display: flex;
  justify-content: space-between;

  &__box{

  }
}